[submodule "3rdparty/TensorRT"]
	path = 3rdparty/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "3rdparty/tensorflow"]
	path = 3rdparty/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
